version: "3.9"
networks:
  creek_net:
    external: true

services:
  replica1:
    image: kacperwleklak/creek
    hostname: replica1
    networks:
      - creek_net
    expose:
      - "10001"
    ports:
      - "8081:8080"     # used for internal TCP communication between replicas
    environment:
      - COMMUNICATION_REPLICAS_PORT=10001
      - COMMUNICATION_REPLICAS_HOST=replica1
      - SERVER_PORT=8080
      - COMMUNICATION_REPLICAS_NODES=replica1:10001,replica2:10002,replica3:10003,replica4:10004
        # Please pay attention to the order of the replicas. COMMUNICATION_REPLICAS_NODES addresses should be ordered in
        # the same way for each replica, because the first one is recognized as the leader (which should be the same
        # for all replicas).
  replica2:
    image: kacperwleklak/creek
    hostname: replica2
    networks:
      - creek_net
    expose:
      - "10002"
    ports:
      - "8082:8080"     # used for internal TCP communication between replicas
    environment:
      - COMMUNICATION_REPLICAS_PORT=10002
      - COMMUNICATION_REPLICAS_HOST=replica2
      - SERVER_PORT=8080
      - COMMUNICATION_REPLICAS_NODES=replica1:10001,replica2:10002,replica3:10003,replica4:10004

  replica3:
    image: kacperwleklak/creek
    hostname: replica3
    networks:
      - creek_net
    expose:
      - "10003"
    ports:
      - "8083:8080"     # used for internal TCP communication between replicas
    environment:
      - COMMUNICATION_REPLICAS_PORT=10003
      - COMMUNICATION_REPLICAS_HOST=replica3
      - SERVER_PORT=8080
      - COMMUNICATION_REPLICAS_NODES=replica1:10001,replica2:10002,replica3:10003,replica4:10004

  replica4:
    image: kacperwleklak/creek
    hostname: replica4
    networks:
      - creek_net
    ports:
      - "8084:8080"     # used for internal TCP communication between replicas
    expose:
      - "10004"
    environment:
      - COMMUNICATION_REPLICAS_PORT=10004
      - COMMUNICATION_REPLICAS_HOST=replica4
      - SERVER_PORT=8080
      - COMMUNICATION_REPLICAS_NODES=replica1:10001,replica2:10002,replica3:10003,replica4:10004